*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    background: #E5E5E5;
  }
  
  .navbar {
    overflow: hidden;
    background-color: white;
  }
  
  .logo img {
    float: left;
    padding: 1px 1px;
    width: auto;
    height: 51px;
    margin-left: 24px;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-right: 30px;
  }
  
  .dropdown .dropbtn { 
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #headline{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }

  .head1{
    color: #172B4D;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .head2{
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .head3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
  }

  .head4 {
    margin-bottom: 138px;
  }

  .headl {
    padding: 10px;
  }

.homepage {
    height: 100%;
    background-color: white;
    border-radius: 0 0 0 50px;
}

.rect4{
    position: absolute;
    width: 95.58px;
    height: 22.02px;
    left: 352px;
    top: 140.79px;
    background: #EBEBFF;
    transform: rotate(-30deg);
}

.elp11{
    position: absolute;
    left: 0px;
    top: 145px;
}

.rect7{
    position: absolute;
    left: 127.18px;
    top: 141.59px;
}

.elp5 {
    position: absolute;
    left: 132.98px;
    top: 155.81px;
    transform: rotate(52.97deg);
}

.elp3 {
    position: absolute;
    left: 383px;
    top: 152.24px;
}

.elp12 {
    position: absolute;
    left: 300px;
    top: 412px;
}

.elp13 {
    position: absolute;
    left: 290px;
    top: 422px;
}

.elp4 {
    position: absolute;
    left: 237px;
    top: 527.1px;
}

.rect5 {
    position: absolute;
    left: 194px;
    top: 527.1px;
}

.elp15 {
    position: absolute;
    left: 53px;
    top: 525px;
}